@import "star.scss";
.works, #skill{
    z-index: 1;
  }
#profile{
  z-index: 1;
}
.footer-anime{
    position: relative;

    .tree{
        background: url(../image/松.png) no-repeat;
        position: absolute;
        width: 500px;
        height: 500px;
        bottom: 0;
      }
      .hill2{
        width: 100%;
          height: 70px;
          border-radius: 50% / 100% 100% 0 0;
          background: #005243;
        position: absolute;
        bottom: 0;
      }
      .cloud{
        background: url(../image/霞.png) no-repeat;
        position: absolute;
        width: 530px;
        height: 150px;
        bottom: 150vh;
        right: 0;
      }
      .cloud2{
        background: url(../image/霞.png) no-repeat;
        position: absolute;
        width: 530px;
        height: 150px;
        bottom: 100vh;
      }
  }
.star-back{
  position: relative;
 
  .starA{
    top: -200vh;
    left: 10%;
  }
  .starB{
    top: -367vh;
    left: 85%;
  }
  .starC{
    top: -260vh;
    left: 15%;
  }
  .starD{
    top: -390vh;
    left: 40%;
  }
  .starE{
    top: -220vh;
    left: 92%;
  }
  .starF{
    top: -285vh;
    right: 10%;
  }
  .starG{
    top: -300vh;
    left: 50%;
  }
  .starH{
    top: -320vh;
    left: 10%;
  }
  .starI{
    top: -210vh;
    left: 50%;
  }
  .starJ{
    top: -350vh;
    left: 50%;
  }
  .starK{
    top: -400vh;
    left: 10%;
  }
}