body {
    font-family: 'Kiwi Maru', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.5);
    background: whitesmoke;
    
  }
h1{
  font-weight: bold;
}
h4{
  color: black;
}
.accordion-header{
  background: white;
}
.accordion-body{
  background: white;
}
.image{
  max-width: 60%;
  height: auto;

  @include respond(pc-lg){
    width: 44vh;
    height: auto;
  }
}
@mixin bg-gradient($color: #da7dff, $amount: #4d4398) {
  background: linear-gradient($color, $amount) fixed;
}

#top{
  @include bg-gradient;
  // margin-top: 0px;
  position: relative;
  width: 100%;
  min-height: 90vh;
  }

.p-contents{
  @include bg-gradient;
  width: 100vw;
  height: 100%;
  position: relative;
}

.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  font-size: 20px; 

  &:before, &:after{
    content: '★★★★';
  }

  &:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #f39800; 
  }
  &[data-rate="4"]:after{ width: 100%; } /* 星4 */
  &[data-rate="3"]:after{ width: 75%; } /* 星3 */
  &[data-rate="2"]:after{ width: 50%; } /* 星2 */
  &[data-rate="1"]:after{ width: 25%; } /* 星1 */
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-top: solid 10px #ffec47;
}

.nav-tabs .nav-link{
  background-color: white;
  
}
.tab-content{
  padding: 1em 1.5em;
  background-color: white;
}
.card-body{
   border-top: 5px solid #ffec47;
}
.accordion-button:not(.collapsed){
  color: black;
  background-color: #ffec47;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
}
