@import "responsive.scss";

@keyframes ufo{
  0% {
    transform: translate(0);
  }
  100%{
    transform: translate(-50%); 
    transform:scale(2.2);
  }
}
@keyframes ufo-fade{
  0% {
    transform: translate(-50%);
    transform:scale(2.2);
  }
  100%{
    transform: translate(-100%); 
    opacity: 0;
  }
}
@keyframes light{
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}
@keyframes light-fadeup{
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10%);
  }
}
@keyframes cow-fadeup{
  0% {
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-60%);
  }
}
@keyframes shadow-fade{
  0% {
    transform:scale(1);
  }
  100%{
    transform:scale(0);
    opacity: 0;
  }
}
@keyframes title-fadeup{
  
  from {
    opacity: 0;
    transform: translateY(60%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// 丘
.hill{
    width: 100%;
    height: 80px;
    border-radius: 50% / 100% 100% 0 0;
    background: #005243;
    position: absolute;
    bottom: 0;
    right: 0;
}
#top{
  overflow: hidden;
}
// ufo
.ufo-conter{
    position: relative;
    top: 6em;
    z-index: 10;

    left: 100%;
    animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;

    @include respond(phone-below){
      top: 10vh;
      animation: none;
      transform: none;
    }
    @include respond(phone-md){
      top: 30vh;
    }
    @include respond(tab-beside){
      top: 45vh;
    }
    @include respond(pc){
      top: 5vh;
    }
    @include respond(pc-lg){
      top: 60vh;
    }

    #ufo{
      position: relative;
      width: 100%;
    }


  & .ufo-body{
    width: 112px;
    height: 60px;
    border-radius: 50% / 100% 100% 0 0;
    background-color: #d4dcda;
    position: absolute;
    left: 29px;
    top: 55px;
  }
  & .ufo-bottom{
    width: 170px;
    border-bottom: 30px solid #2ca9e1;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    position: absolute;
    top: 100px;
  }
  & .ufo-circle1{
    width: 20px;
    height: 20px;
    background-color: #59b9c6;
    position: absolute;
    top: 76px;
    left: 45px;
  }
  & .ufo-circle2{
    width: 20px;
    height: 20px;
    background-color: #59b9c6;
    position: absolute;
    top: 76px;
    left: 105px;
  }
  & .ufo-circle3{
    width: 20px;
    height: 20px;
    background-color: #59b9c6;
    position: absolute;
    top: 76px;
    left: 75px;
  }
  & .ufo-light1{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f39800;
    position: absolute;
    top: 110px;
    left: 30px;
  }
  & .ufo-light2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f39800;
    position: absolute;
    top: 110px;
    left: 66px;
  }
  & .ufo-light3{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #f39800;
    position: absolute;
    top: 110px;
    left: 102px;
  }
  & .ufo-chobin1{
    margin-left: 100px;
    width: 3px;
    height: 22px;
    background-color: brown;
    position: absolute;
    top: 33px;
    left: -16px;
  }
  & .ufo-chobin2{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #eb6ea5;
    position: absolute;
    top: 18px;
    left: 77px;
  }
} 

// ミューティレーションの光
.light-contents{
  position: relative;
  z-index: 4;
  left: 45%;
  top: 40vh;
  animation:light-fadeup 3s ease 11s forwards;

  @include respond(phone-below){
    animation: none;
    transform: none;
  }
  @include respond(phone-md){
    top: 51vh;
    left: 38%;
  }
  @include respond(tab-beside){
    top: 58vh;
    left: 38%;
  }
  @include respond(pc){
    top: 34vh;
    left: 45%;
  }
  @include respond(pc-lg){
    top: 70vh;
    left: 40%;
  }

  .light{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 120px 320px 120px;
    border-color: transparent transparent #ffec47 transparent;
    opacity: 0;
    animation:light 3s ease 6s forwards;

    
    @include respond(phone-md){
      border-width: 0 200px 400px 200px;
    }
    @include respond(tab-beside){
      border-width: 0 200px 400px 200px;
    }
    @include respond(pc){
      border-width: 0 120px 320px 120px;
    }
    @include respond(pc-lg){
      border-width: 0 200px 400px 200px;
  
    }
  }
}

// 牛
.cow-conter{
    position: relative;

    .shadow{
        width: 120px;
        height: 20px;
        border-radius: 50%;
        background-color: #1f3134;
        position: absolute;
        top: 81vh;
        left: 50%;

        animation: shadow-fade 3s ease 8s forwards;


        @include respond(phone-below){
          animation: none;
          transform: none;
        }
        @include respond(phone-md){
          top: 84vh;
          width: 170px;
          height: 50px;
          left: 50%;
        }
        @include respond(tab-beside){
          top: 84vh;
          width: 170px;
          height: 50px;
          left: 50%;
        }
        @include respond(pc){
          top: 80vh;
          width: 130px;
          height: 30px;
          left: 50%;
        }
        @include respond(pc-lg){
          top: 86vh;
          width: 220px;
          height: 60px;
          left: 44%;
        }
      }
      #cow{
        background: url(../image/k0368_1.png) no-repeat;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 72vh;
        left: 50%;
        
        background-size: contain;
        animation:cow-fadeup 3s ease 8s forwards;


        @include respond(phone-below){
          animation: none;
          transform: none;
        }
        @include respond(phone-md){
          top: 75vh;
          width: 150px;
          height: 150px;
          left: 50%;
        }
        @include respond(tab-beside){
          top: 77vh;
          width: 150px;
          height: 150px;
          left: 50%;
        }
        @include respond(pc){
          top: 70vh;
          width: 110px;
          height: 110px;
          left: 50%;
        }
        @include respond(pc-lg){
          top: 80vh;
          width: 200px;
          height: 200px;
          left: 44%;
        }
      }
  }

  .title-content{
    position: relative;
    text-align:center;
    bottom: 10vh;
    opacity: 0;
    animation:title-fadeup 3s ease 18s forwards;

    @include respond(phone-below){
      animation:title-fadeup 3s ease forwards;
    }
    @include respond(pc-lg){
      top: 30vh;
    }
  
    .title-word{
      color: white;
    }
    .title-word2{
      color: white;
      opacity: 0;
      animation:title-fadeup 3s ease 19.5s forwards;

      @include respond(phone-below){
        animation:title-fadeup 3s ease 1.5s forwards;
      }
    }
    .img-title{
      background: url(../image/白峰.png) no-repeat;
      background-size: 50px;
      background-position: right 36% bottom 45%;

      @include respond(phone-below){
        background-size: 30px;
        background-position: right 12% bottom;
      }
      @include respond(phone-md){
        background-size: 40px;
        background-position: right 30% bottom;
      }
      @include respond(tab-beside){
        background-size: 40px;
        background-position: right 33% bottom;
      }
      @include respond(pc-lg){
        background-size: 50px;
        background-position: right 40% bottom;
      }
    }
  }
  // アニメーションのリスタートに使用
// .restart-ufo{
//   animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;
// }
// .restart-light{
//   animation: light-fadeup 3s ease 11s forwards,light 3s ease 6s forwards;
// }
// .restert-cow{
//   animation:cow-fadeup 3s ease 8s forwards;
// }
// .restert-shadow{
//   animation: shadow-fade 3s ease 8s forwards;
// }
// .restert-title{
//   animation:title-fadeup 3s ease 18s forwards;
// }
// .restert-title2{
//   animation:title-fadeup 3s ease 19.5s forwards;
// }