@charset "UTF-8";
@import url(app/sass/star.scss);
@-webkit-keyframes ufo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}
@keyframes ufo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}

@-webkit-keyframes ufo-fade {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@keyframes ufo-fade {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes light-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes light-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes cow-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@keyframes cow-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@-webkit-keyframes shadow-fade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes shadow-fade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes title-fadeup {
  from {
    opacity: 0;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-fadeup {
  from {
    opacity: 0;
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.hill {
  width: 100%;
  height: 80px;
  border-radius: 50% / 100% 100% 0 0;
  background: #005243;
  position: absolute;
  bottom: 0;
  right: 0;
}

#top {
  overflow: hidden;
}

.ufo-conter {
  position: relative;
  top: 6em;
  z-index: 10;
  left: 100%;
  -webkit-animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;
          animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;
}

.ufo-conter #ufo {
  position: relative;
  width: 100%;
}

.ufo-conter .ufo-body {
  width: 112px;
  height: 60px;
  border-radius: 50% / 100% 100% 0 0;
  background-color: #d4dcda;
  position: absolute;
  left: 29px;
  top: 55px;
}

.ufo-conter .ufo-bottom {
  width: 170px;
  border-bottom: 30px solid #2ca9e1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  position: absolute;
  top: 100px;
}

.ufo-conter .ufo-circle1 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 45px;
}

.ufo-conter .ufo-circle2 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 105px;
}

.ufo-conter .ufo-circle3 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 75px;
}

.ufo-conter .ufo-light1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 30px;
}

.ufo-conter .ufo-light2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 66px;
}

.ufo-conter .ufo-light3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 102px;
}

.ufo-conter .ufo-chobin1 {
  margin-left: 100px;
  width: 3px;
  height: 22px;
  background-color: brown;
  position: absolute;
  top: 33px;
  left: -16px;
}

.ufo-conter .ufo-chobin2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #eb6ea5;
  position: absolute;
  top: 18px;
  left: 77px;
}

.light-contents {
  position: relative;
  z-index: 4;
  left: 45%;
  top: 40vh;
  -webkit-animation: light-fadeup 3s ease 11s forwards;
          animation: light-fadeup 3s ease 11s forwards;
}

.light-contents .light {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 320px 120px;
  border-color: transparent transparent #ffec47 transparent;
  opacity: 0;
  -webkit-animation: light 3s ease 6s forwards;
          animation: light 3s ease 6s forwards;
}

.cow-conter {
  position: relative;
}

.cow-conter .shadow {
  width: 120px;
  height: 20px;
  border-radius: 50%;
  background-color: #1f3134;
  position: absolute;
  top: 81vh;
  left: 50%;
  -webkit-animation: shadow-fade 3s ease 8s forwards;
          animation: shadow-fade 3s ease 8s forwards;
}

.cow-conter #cow {
  background: url(../image/k0368_1.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 72vh;
  left: 50%;
  background-size: contain;
  -webkit-animation: cow-fadeup 3s ease 8s forwards;
          animation: cow-fadeup 3s ease 8s forwards;
}

.title-content {
  position: relative;
  text-align: center;
  bottom: 10vh;
  opacity: 0;
  -webkit-animation: title-fadeup 3s ease 18s forwards;
          animation: title-fadeup 3s ease 18s forwards;
}

.title-content .title-word {
  color: white;
}

.title-content .title-word2 {
  color: white;
  opacity: 0;
  -webkit-animation: title-fadeup 3s ease 19.5s forwards;
          animation: title-fadeup 3s ease 19.5s forwards;
}

.title-content .img-title {
  background: url(../image/白峰.png) no-repeat;
  background-size: 50px;
  background-position: right 36% bottom 45%;
}

body {
  font-family: 'Kiwi Maru', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.5);
  background: whitesmoke;
}

h1 {
  font-weight: bold;
}

h4 {
  color: black;
}

.accordion-header {
  background: white;
}

.accordion-body {
  background: white;
}

.image {
  max-width: 60%;
  height: auto;
}

#top {
  background: -webkit-gradient(linear, left top, left bottom, from(#da7dff), to(#4d4398)) fixed;
  background: linear-gradient(#da7dff, #4d4398) fixed;
  position: relative;
  width: 100%;
  min-height: 90vh;
}

.p-contents {
  background: -webkit-gradient(linear, left top, left bottom, from(#da7dff), to(#4d4398)) fixed;
  background: linear-gradient(#da7dff, #4d4398) fixed;
  width: 100vw;
  height: 100%;
  position: relative;
}

.star5_rating {
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC;
  font-size: 20px;
  /* 星4 */
  /* 星3 */
  /* 星2 */
  /* 星1 */
}

.star5_rating:before, .star5_rating:after {
  content: '★★★★';
}

.star5_rating:after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #f39800;
}

.star5_rating[data-rate="4"]:after {
  width: 100%;
}

.star5_rating[data-rate="3"]:after {
  width: 75%;
}

.star5_rating[data-rate="2"]:after {
  width: 50%;
}

.star5_rating[data-rate="1"]:after {
  width: 25%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-top: solid 10px #ffec47;
}

.nav-tabs .nav-link {
  background-color: white;
}

.tab-content {
  padding: 1em 1.5em;
  background-color: white;
}

.card-body {
  border-top: 5px solid #ffec47;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #ffec47;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.works, #skill {
  z-index: 1;
}

#profile {
  z-index: 1;
}

.footer-anime {
  position: relative;
}

.footer-anime .tree {
  background: url(../image/松.png) no-repeat;
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 0;
}

.footer-anime .hill2 {
  width: 100%;
  height: 70px;
  border-radius: 50% / 100% 100% 0 0;
  background: #005243;
  position: absolute;
  bottom: 0;
}

.footer-anime .cloud {
  background: url(../image/霞.png) no-repeat;
  position: absolute;
  width: 530px;
  height: 150px;
  bottom: 150vh;
  right: 0;
}

.footer-anime .cloud2 {
  background: url(../image/霞.png) no-repeat;
  position: absolute;
  width: 530px;
  height: 150px;
  bottom: 100vh;
}

.star-back {
  position: relative;
}

.star-back .starA {
  top: -200vh;
  left: 10%;
}

.star-back .starB {
  top: -367vh;
  left: 85%;
}

.star-back .starC {
  top: -260vh;
  left: 15%;
}

.star-back .starD {
  top: -390vh;
  left: 40%;
}

.star-back .starE {
  top: -220vh;
  left: 92%;
}

.star-back .starF {
  top: -285vh;
  right: 10%;
}

.star-back .starG {
  top: -300vh;
  left: 50%;
}

.star-back .starH {
  top: -320vh;
  left: 10%;
}

.star-back .starI {
  top: -210vh;
  left: 50%;
}

.star-back .starJ {
  top: -350vh;
  left: 50%;
}

.star-back .starK {
  top: -400vh;
  left: 10%;
}

@-webkit-keyframes bg-color1 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #f8e58c;
  }
  40% {
    background-color: #93ca76;
  }
  60% {
    background-color: #bce2e8;
  }
  80% {
    background-color: #dbd0e6;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@keyframes bg-color1 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #f8e58c;
  }
  40% {
    background-color: #93ca76;
  }
  60% {
    background-color: #bce2e8;
  }
  80% {
    background-color: #dbd0e6;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@-webkit-keyframes bg-color2 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #bce2e8;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #93ca76;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@keyframes bg-color2 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #bce2e8;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #93ca76;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@-webkit-keyframes bg-color3 {
  0% {
    background-color: #93ca76;
  }
  20% {
    background-color: #f5b1aa;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #ca76c6;
  }
  100% {
    background-color: #bce2e8;
  }
}

@keyframes bg-color3 {
  0% {
    background-color: #93ca76;
  }
  20% {
    background-color: #f5b1aa;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #ca76c6;
  }
  100% {
    background-color: #bce2e8;
  }
}

.star1 {
  width: 10px;
  height: 10px;
  background-color: #f8e58c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color1;
  animation-name: bg-color1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starA {
  position: absolute;
  top: 15%;
  left: 20%;
}

.starB {
  position: absolute;
  top: 50%;
  left: 40%;
}

.starC {
  position: absolute;
  top: 40%;
  right: 26%;
}

.star2 {
  width: 10px;
  height: 10px;
  background-color: #93ca76;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color2;
  animation-name: bg-color2;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starD {
  position: absolute;
  top: 80%;
  left: 32%;
}

.starE {
  position: absolute;
  top: 55%;
  left: 10%;
}

.starF {
  position: absolute;
  top: 30%;
  right: 10%;
}

.star3 {
  width: 10px;
  height: 10px;
  background-color: #f5b1aa;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color2;
  animation-name: bg-color2;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starG {
  position: absolute;
  top: 70%;
  right: 30%;
}

.starH {
  position: absolute;
  top: 17%;
  left: 60%;
}

.starI {
  position: absolute;
  top: 17%;
  left: 30%;
}

.starJ {
  position: absolute;
  top: 17%;
  left: 60%;
}

.starK {
  position: absolute;
  top: 17%;
  left: 10%;
}
/*# sourceMappingURL=style.css.map */