@-webkit-keyframes bg-color1 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #f8e58c;
  }
  40% {
    background-color: #93ca76;
  }
  60% {
    background-color: #bce2e8;
  }
  80% {
    background-color: #dbd0e6;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@keyframes bg-color1 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #f8e58c;
  }
  40% {
    background-color: #93ca76;
  }
  60% {
    background-color: #bce2e8;
  }
  80% {
    background-color: #dbd0e6;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@-webkit-keyframes bg-color2 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #bce2e8;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #93ca76;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@keyframes bg-color2 {
  0% {
    background-color: #f5b1aa;
  }
  20% {
    background-color: #bce2e8;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #93ca76;
  }
  100% {
    background-color: #f5b1aa;
  }
}

@-webkit-keyframes bg-color3 {
  0% {
    background-color: #93ca76;
  }
  20% {
    background-color: #f5b1aa;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #ca76c6;
  }
  100% {
    background-color: #bce2e8;
  }
}

@keyframes bg-color3 {
  0% {
    background-color: #93ca76;
  }
  20% {
    background-color: #f5b1aa;
  }
  40% {
    background-color: #dbd0e6;
  }
  60% {
    background-color: #f8e58c;
  }
  80% {
    background-color: #ca76c6;
  }
  100% {
    background-color: #bce2e8;
  }
}

.star1 {
  width: 10px;
  height: 10px;
  background-color: #f8e58c;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color1;
  animation-name: bg-color1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starA {
  position: absolute;
  top: 15%;
  left: 20%;
}

.starB {
  position: absolute;
  top: 50%;
  left: 40%;
}

.starC {
  position: absolute;
  top: 40%;
  right: 26%;
}

.star2 {
  width: 10px;
  height: 10px;
  background-color: #93ca76;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color2;
  animation-name: bg-color2;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starD {
  position: absolute;
  top: 80%;
  left: 32%;
}

.starE {
  position: absolute;
  top: 55%;
  left: 10%;
}

.starF {
  position: absolute;
  top: 30%;
  right: 10%;
}

.star3 {
  width: 10px;
  height: 10px;
  background-color: #f5b1aa;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: bg-color2;
  animation-name: bg-color2;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}

.starG {
  position: absolute;
  top: 70%;
  right: 30%;
}

.starH {
  position: absolute;
  top: 17%;
  left: 60%;
}

.starI {
  position: absolute;
  top: 17%;
  left: 30%;
}

.starJ {
  position: absolute;
  top: 17%;
  left: 60%;
}

.starK {
  position: absolute;
  top: 17%;
  left: 10%;
}
/*# sourceMappingURL=star.css.map */