// 星
@mixin keyframes($animation-name: animaton) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
       -moz-animation-duration: $duration;
         -o-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
       -moz-animation-iteration-count: $iteration;
         -o-animation-iteration-count: $iteration;
            animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
       -moz-animation-name: $name;
         -o-animation-name: $name;
            animation-name: $name;
    -webkit-animation-direction: $direction;
       -moz-animation-direction: $direction;
         -o-animation-direction: $direction;
            animation-direction: $direction;
  }


@include keyframes (bg-color1) {
    0% { background-color: #f5b1aa; }
    20% { background-color: #f8e58c; }
    40% { background-color: #93ca76; }
    60% { background-color: #bce2e8; }
    80% { background-color: #dbd0e6; }
    100% { background-color: #f5b1aa; }
}

@include keyframes (bg-color2) {
    0% { background-color: #f5b1aa; }
    20% { background-color: #bce2e8; }
    40% { background-color: #dbd0e6; }
    60% { background-color: #f8e58c; }
    80% { background-color: #93ca76; }
    100% { background-color: #f5b1aa; }
}

@include keyframes (bg-color3) {
    0% { background-color: #93ca76; }
    20% { background-color: #f5b1aa; }
    40% { background-color: #dbd0e6; }
    60% { background-color: #f8e58c; }
    80% { background-color: #ca76c6; }
    100% { background-color: #bce2e8; }
}
@mixin bg-color1 {
    @include animate(bg-color1, 6s, infinite, normal);
  }
@mixin bg-color2 {
  @include animate(bg-color2, 4s, infinite, normal);
}
@mixin bg-color3 {
    @include animate(bg-color2, 2s, infinite, normal);
  }

.star1{
    width: 10px;
    height: 10px;
    background-color: #f8e58c;
    transform: rotate(45deg);
    @include bg-color1;
}
.starA{
    position: absolute;
    top: 15%;
    left: 20%;
  }
  .starB{
    position: absolute;
    top: 50%;
    left: 40%;
  }
  .starC{
    position: absolute;
    top: 40%;
    right: 26%;
  }
  .star2{
    width: 10px;
    height: 10px;
    background-color: #93ca76;
    transform: rotate(45deg);
    @include bg-color2;
  }
  .starD{
    position: absolute;
    top: 80%;
    left: 32%;
  }
  .starE{
    position: absolute;
    top: 55%;
    left: 10%;
  }
  .starF{
    position: absolute;
    top: 30%;
    right: 10%;
  }
  .star3{
    width: 10px;
    height: 10px;
    background-color: #f5b1aa;
    transform: rotate(45deg);
    @include bg-color3;
  }
  .starG{
    position: absolute;
    top: 70%;
    right: 30%;
  }
  .starH{
    position: absolute;
    top: 17%;
    left: 60%;
  }