@-webkit-keyframes ufo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}

@keyframes ufo {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
}

@-webkit-keyframes ufo-fade {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@keyframes ufo-fade {
  0% {
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
  }
  100% {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
  }
}

@-webkit-keyframes light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes light {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 0.5;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes light-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes light-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes cow-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@keyframes cow-fadeup {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
}

@-webkit-keyframes shadow-fade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes shadow-fade {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

.hill {
  width: 100%;
  height: 80px;
  border-radius: 50% / 100% 100% 0 0;
  background: #005243;
  position: absolute;
  bottom: 0;
  right: 0;
}

#top {
  overflow: hidden;
}

.ufo-conter {
  position: relative;
  top: 6em;
  z-index: 10;
  left: 100%;
  -webkit-animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;
          animation: ufo 6s ease-in-out forwards,ufo-fade 6s ease-in-out 14s forwards;
}

.ufo-conter #ufo {
  position: relative;
  width: 100%;
}

.ufo-conter .ufo-body {
  width: 112px;
  height: 60px;
  border-radius: 50% / 100% 100% 0 0;
  background-color: #d4dcda;
  position: absolute;
  left: 29px;
  top: 55px;
}

.ufo-conter .ufo-bottom {
  width: 170px;
  border-bottom: 30px solid #2ca9e1;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  position: absolute;
  top: 100px;
}

.ufo-conter .ufo-circle1 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 45px;
}

.ufo-conter .ufo-circle2 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 105px;
}

.ufo-conter .ufo-circle3 {
  width: 20px;
  height: 20px;
  background-color: #59b9c6;
  position: absolute;
  top: 76px;
  left: 75px;
}

.ufo-conter .ufo-light1 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 30px;
}

.ufo-conter .ufo-light2 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 66px;
}

.ufo-conter .ufo-light3 {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #f39800;
  position: absolute;
  top: 110px;
  left: 102px;
}

.ufo-conter .ufo-chobin1 {
  margin-left: 100px;
  width: 3px;
  height: 22px;
  background-color: brown;
  position: absolute;
  top: 33px;
  left: -16px;
}

.ufo-conter .ufo-chobin2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #eb6ea5;
  position: absolute;
  top: 18px;
  left: 77px;
}

.light-contents {
  position: relative;
  z-index: 4;
  left: 45%;
  top: 40vh;
  -webkit-animation: light-fadeup 3s ease 11s forwards;
          animation: light-fadeup 3s ease 11s forwards;
}

.light-contents .light {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 120px 320px 120px;
  border-color: transparent transparent #ffec47 transparent;
  opacity: 0;
  -webkit-animation: light 3s ease 6s forwards;
          animation: light 3s ease 6s forwards;
}

.cow-conter {
  position: relative;
}

.cow-conter .shadow {
  width: 120px;
  height: 20px;
  border-radius: 50%;
  background-color: #1f3134;
  position: absolute;
  top: 81vh;
  left: 50%;
  -webkit-animation: shadow-fade 3s ease 8s forwards;
          animation: shadow-fade 3s ease 8s forwards;
}

.cow-conter #cow {
  background: url(../image/k0368_1.png) no-repeat;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 72vh;
  left: 50%;
  background-size: contain;
  -webkit-animation: cow-fadeup 3s ease 8s forwards;
          animation: cow-fadeup 3s ease 8s forwards;
}
/*# sourceMappingURL=top.css.map */